<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{asset('assets/images/favicon.png')}}">

		<!-- fraimwork - css include -->
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/bootstrap.min.css') }}">

		<!-- icon css include -->
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/fontawesome-all.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/flaticon.css') }}">

		<!-- carousel css include -->
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/slick.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/slick-theme.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/animate.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/owl.carousel.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/owl.theme.default.min.css') }}">

		<!-- others css include -->
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/magnific-popup.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/jquery.mCustomScrollbar.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/calendar.css') }}">

		<!-- color switcher css include -->
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/colors/style-switcher.css') }}">
		<link id="color_theme" rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/colors/default.css') }}">

		<!-- custom css include -->
		<link rel="stylesheet" type="text/css" href="{{ asset ('Client/assets/css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
           <!-- fraimwork - jquery include -->
		<script src="{{ asset ('Client/assets/js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset ('Client/assets/js/popper.min.js') }}"></script>
		<script src="{{ asset ('Client/assets/js/bootstrap.min.js') }}"></script>

		<!-- carousel jquery include -->
		<script src="{{ asset ('Client/assets/js/slick.min.js') }}"></script>
		<script src="{{ asset ('Client/assets/js/owl.carousel.min.js') }}"></script>

		<!-- map jquery include -->
		<script src="{{ asset ('Client/assets/js/gmap3.min.js')}}"></script>
		<script src="http://maps.google.com/maps/api/js?key=AIzaSyC61_QVqt9LAhwFdlQmsNwi5aUJy9B2SyA"></script>

		<!-- calendar jquery include -->
		<script src="{{ asset ('Client/assets/js/atc.min.js') }}"></script>

		<!-- others jquery include -->
		<script src="{{ asset ('Client/assets/js/jquery.magnific-popup.min.js')}}"></script>
		<script src="{{ asset ('Client/assets/js/isotope.pkgd.min.js') }}"></script>
		<script src="{{ asset ('Client/assets/js/jarallax.min.js') }}"></script>
		<script src="{{ asset ('Client/assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>

		<!-- gallery img loaded - jqury include -->
		<script src="{{ asset ('Client/assets/js/imagesloaded.pkgd.min.js') }}"></script>

		<!-- multy count down - jqury include -->
		<script src="{{ asset ('Client/assets/js/jquery.countdown.js') }}"></script>

		<!-- color panal - jqury include -->
		<script src="{{ asset ('Client/assets/js/style-switcher.js') }}"></script>

		<!-- custom jquery include -->
		<script src="{{ asset ('Client/assets/js/custom.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
       

        <header id="header-section" class="header-section default-header-section auto-hide-header clearfix">

			<!-- header-top - start -->
			<div class="header-top">
				<div class="container">
					<div class="row">

						<!-- basic-contact - start -->
						<div class="col-lg-6">
							<div class="basic-contact">
								<ul>
									<li>
										<a href="#!">
											<i class="fas fa-envelope"></i>
											info@eventeasy.com
										</a>
									</li>
									<li>
										<a href="#!">
											<i class="fas fa-phone"></i>
											+216 25 874 876
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!-- basic-contact - end -->

						<!-- register-login-group - start -->
						<div class="col-lg-6">
							<div class="register-login-group">
								<ul>
									<li>
										<a href="#register-modal" class="register-modal-btn">
											<i class="fas fa-user"></i>
											Register
										</a>
										<div id="register-modal" class="reglog-modal-wrapper register-modal mfp-hide clearfix" style="background-image: url(assets/images/login-modal-bg.jpg);">
											<div class="overlay-black clearfix">

												<!-- leftside-content - start -->
												<div class="leftside-content">
													<div class="site-logo-wrapper mb-80">
														<a href="event-1.html" class="logo">
															<img src="images/event/eventlogo.png" alt="logo_not_found">
														</a>
													</div>
													<div class="register-login-link mb-80">
														<ul>
															<li><a href="#!">Login</a></li>
															<li class="active"><a href="#!">Register</a></li>
														</ul>
													</div>
													<div class="copyright-text">
														<p class="m-0">©2018 <a href="#!" class="yellow-color">Eventeasy.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
													</div>
												</div>
												<!-- leftside-content - end -->

												<!-- rightside-content - start -->
												<div class="rightside-content text-center">

													<div class="mb-30">
														<h2 class="form-title title-large white-color">Account <strong>Register</strong></h2>
														<span class="form-subtitle white-color">Have an account? <strong>LOGIN NOW</strong></span>
													</div>

													<div class="login-form text-center mb-50">
														<form action="#!">
															<div class="form-item">
																<input type="email" placeholder="User Name">
															</div>
															<div class="form-item">
																<input type="password" placeholder="Password">
															</div>
															<div class="form-item">
																<input type="email" placeholder="Repeat Password">
															</div>
															<div class="form-item">
																<input type="password" placeholder="Email Address">
															</div>
															<div class="human-verification text-left">
																<input type="checkbox" id="imnotarobot">
																<label for="imnotarobot">I'm not a robot</label>
																<span class="verification-image">
																	<img src="assets/images/iamnotrobot.png" alt="Image_not_found">
																</span>
															</div>
															<button type="submit" class="login-btn">login now</button>
														</form>
													</div>

													<div class="bottom-text white-color">
														<p class="m-0">
															* Denotes mandatory field.
														</p>
														<p class="m-0">** At least one telephone number is required.</p>
													</div>

												</div>
												<!-- rightside-content - end -->

												<a class="popup-modal-dismiss" href="#!">
													<i class="fas fa-times"></i>
												</a>

											</div>
										</div>
									</li>
									<li>
										<a href="#login-modal" class="login-modal-btn">
											<i class="fas fa-lock"></i>
											Login
										</a>
										<div id="login-modal" class="reglog-modal-wrapper mfp-hide clearfix" style="background-image: url(assets/images/login-modal-bg.jpg);">
											<div class="overlay-black clearfix">

												<!-- leftside-content - start -->
												<div class="leftside-content">
													<div class="site-logo-wrapper mb-80">
														<a href="event-1.html" class="logo">
															<img src="images/event/eventlogo.png" alt="logo_not_found">
														</a>
													</div>
													<div class="register-login-link mb-80">
														<ul>
															<li class="active"><a href="#!">Login</a></li>
															<li><a href="#!">Register</a></li>
														</ul>
													</div>
													<div class="copyright-text">
														<p class="m-0">©2018 <a href="#!" class="yellow-color">Eventeasy.com</a> all right reserved, made with <i class="fas fa-heart"></i> by jThemes Studio </p>
													</div>
												</div>
												<!-- leftside-content - end -->

												<!-- rightside-content - start -->
												<div class="rightside-content text-center">

													<div class="mb-30">
														<h2 class="form-title title-large white-color">Account <strong>Login</strong></h2>
														<span class="form-subtitle white-color">Login to our website, or <strong>REGISTER</strong></span>
													</div>

													<div class="fb-login-btn mb-30">
														<a href="#!">
															<span class="icon">
																<i class="fab fa-facebook-f"></i>
															</span>
															login with facebook
														</a>
													</div>

													<div class="or-text mb-30">
														<span>or sign in</span>
													</div>

													<div class="login-form text-center mb-50">
														<form action="#!">
															<div class="form-item">
																<input type="email" placeholder="example@gmail.com">
															</div>
															<div class="form-item">
																<input type="password" placeholder="Password">
															</div>
															<button type="submit" class="login-btn">login now</button>
														</form>
													</div>

													<div class="bottom-text white-color">
														<p class="m-0">
															* Denotes mandatory field.
														</p>
														<p class="m-0">** At least one telephone number is required.</p>
													</div>

												</div>
												<!-- rightside-content - end -->

												<a class="popup-modal-dismiss" href="#!">
													<i class="fas fa-times"></i>
												</a>

											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- register-login-group - end -->
						
					</div>
				</div>
			</div>
			<!-- header-top - end -->

			<!-- header-bottom - start -->
			<div class="header-bottom">
				<div class="container">
					<div class="row">

						<!-- site-logo-wrapper - start -->
						<div class="col-lg-3">
							<div class="site-logo-wrapper">
								<a href="event-1.html" class="logo">
									<img src="images/event/eventlogo.png" alt="logo_not_found">
								</a>
							</div>
						</div>
						<!-- site-logo-wrapper - end -->

						<!-- mainmenu-wrapper - start -->
						<div class="col-lg-9">
							<div class="mainmenu-wrapper">
								<div class="row">

									<!-- menu-item-list - start -->
									<div class="col-lg-10">
										<div class="menu-item-list ul-li clearfix">
											<ul>
												<li class="menu-item-has-children">
													<a href="#!">home</a>
													<ul class="sub-menu">
														
														
													</ul>
												</li>
												<li class="menu-item-has-children">
													<a href="#!">about</a>
													
												</li>
												<li class="menu-item-has-children active">
													<a href="#!">events</a>
													<ul class="sub-menu">
                                                        <li class="menu-item-has-children">
															<a href="event-1.html">Event Create</a>
															
														</li>
														<li class="menu-item-has-children">
															<a href="event-1.html">Event Places</a>
															
														</li>
														<li class="menu-item-has-children">
															<a class="active" href="event-2.html">Event Rental</a>
															<ul class="sub-menu">
															</ul>
														</li>
														<li><a href="event-details.html">event details</a></li>
														
													</ul>
												</li>
												
												
												<li>
													<a href="speaker.html">Partners</a>
												</li>
												<li class="menu-item-has-children">
													<a href="#!">contact</a>
													<ul class="sub-menu">
														<li><a href="contact.html">Reclamations</a></li>
														<li><a href="404-error.html">Notes</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<!-- menu-item-list - end -->

									<!-- menu-item-list - start -->
									<div class="col-lg-2">
										<div class="user-search-btn-group ul-li clearfix">
											<ul>
												<li>
													<a href="#!">
														<i class="fas fa-user"></i>
													</a>
												</li>
												<li>
													<button type="button" class="toggle-overlay search-btn">
														<i class="fas fa-search"></i>
													</button>
													<!-- search-body - start -->
													<div class="search-body">
														<div class="search-form">
															<form action="#">
																<input class="search-input" type="search" placeholder="Search Here">
																<div class="outer-close toggle-overlay">
																	<button type="button" class="search-close">
																		<i class="fas fa-times"></i>
																	</button>
																</div>
															</form>
														</div>
													</div>
													<!-- search-body - end -->
												</li>
											</ul>
										</div>
									</div>
									<!-- menu-item-list - end -->

								</div>
							</div>
						</div>
						<!-- mainmenu-wrapper - end -->

					</div>
				</div>
			</div>
			<!-- header-bottom - end -->

		</header>


        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
        <footer id="footer-section" class="footer-section footer-section3 clearfix">
    
            <!-- footer-top - start -->
            <div class="footer-top sec-ptb-100 clearfix">
                <div class="container">
                    <div class="row justify-content-center">
    
                        <!-- about-wrapper - start -->
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-wrapper text-center mb-50 clearfix">
    
                                <!-- site-logo-wrapper - start -->
                                <div class="site-logo-wrapper mb-30">
                                    <a href="event-1.html" class="logo">
                                        <img src="images/event/eventlogo.png" alt="logo_not_found">
                                    </a>
                                </div>
                                <!-- site-logo-wrapper - end -->
    
                                
    
                                <!-- social-links - start -->
                                <div class="social-links ul-li">
                                    <h3 class="social-title">CONTACT US</h3>
                                    <ul>
                                        <li>
                                            <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-twitch"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- social-links - end -->
                                
                            </div>
                        </div>
                        <!-- about-wrapper - end -->
    
                        <!-- basic-info - start -->
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="basic-info clearfix">
                                <div class="row">
    
                                    <!-- basic-info-item - start -->
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="basic-info-item">
                                            <span class="icon">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </span>
                                            <div class="info-content">
                                                <p>POSITION</p>
                                                <h3>TUNIS,ARIANA</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- basic-info-item - end -->
    
                                    <!-- basic-info-item - start -->
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="basic-info-item">
                                            <span class="icon">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                            <div class="info-content">
                                                <p><a href="#!">EventEasy@gmail.com</a></p>
                                                <h3><a href="#!">info@EventEasy.com</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- basic-info-item - end -->
    
                                    <!-- basic-info-item - start -->
                                    <div class="col-lg-4 col-md-6 col-sm-12">
                                        <div class="basic-info-item">
                                            <span class="icon">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                            <div class="info-content">
                                                <p><a href="#!">+216</a></p>
                                                <h3><a href="#!"> 25 874 876</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- basic-info-item - end -->
                                    
                                </div>
                            </div>
                        </div>
                        <!-- basic-info - end -->
    
                    </div>
                </div>
            </div>
            <!-- footer-top - end -->
    
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
    
                        
                        <!-- footer-menu - start -->
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <div class="footer-menu">
                                
                            </div>
                        </div>
                        <!-- footer-menu - end -->
    
                    </div>
                </div>
            </div>
    
        </footer>
        {% endblock %}
        
    </body>
  

    

</html>
